.App {
  text-align: center;
  font-size: 50px;
  background-color:lightblue;
  border: 35px lightblue;
  padding: 5px;
}

.App-header {
  background-color:#222;
  height: 150px;
  padding: 20px;
  color: lightblue;
}

.App-intro {
  font-size: large;
}

.space {
  width: 44.5%;
}

.pose-queue {
  display: flex;
}

.Title{
  color:black;
}