.webcam-box-outer {
    background: lightblue;
    border: 20px lightblue;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    padding: 25px;
}
.webcam-box-inner {
    border: 1px solid #585858;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 650px;
    height: 450px;
}